/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

h1 {
	color:rgb(2,132,130);
  margin: 0 auto;
  text-align: center;
}
h2 {
	color:#ffd700;
  margin: 0 auto;
 text-align: center;
}
p {
  text-align: center;
}

.board {
    display: inline-block;
 	height: 50%;
	width: 50%;
 
}
.card {
	height: 200px;
	width: 150px;
	border:solid black 1px;
	background: yellow;
	border-radius: 10px;
    float: left;
  margin: 8%;
}
.name {
  color: #ff0000;
}
navbar {
  display:block;
  background-color: #808080; 
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}
a {
   text-decoration: none;
  background: #ffbf00;
  color: white;
  padding:35px;
  display: block;
  float: left;
}
 a:hover {
    background-color: #ee5f3c;
}
  
}
footer {
  display: block;
  clear:both;
  background-color: #808080;
  text-align: center;
}
